@import 'theme/variables.scss';

@import 'bootstrap/bootstrap.scss';

@import 'theme/styles.scss';


body, html {
  height: 100%;
}

.mdi-icon-size {
  font-size: 18px;
}


@media (max-width: 768px) {
  .leaflet-bottom .leaflet-control {
    margin-bottom: 84px!important;
  }
}